<div class="page-container"></div>

<p class="f-20 test-success"> 个人信息</p>
<table class="table-border table-bordered table-bg mt-20">
    <tbody>
        <tr>
            <th width="30%">姓名</th>
            <td><span id="lbServerName">{{user.username}}</span></td>

        </tr>
        <tr>
            <th >邮箱</th>
            <td><span id="lbServerName">{{user.email}}</span></td>

        </tr>
        <tr>
            <th >注册时间</th>
            <td><span id="lbServerName">2XXX.XX.XX XX:XX:XX</span></td>

        </tr>




    </tbody>



</table>